name: Build and Commit Dist

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm install

      - name: Build
        run: npm run build

      - name: Commit dist
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add dist
          git commit -m "auto build dist" || echo "No changes"
          git push
